html{
    background: #ff9a9e;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.pictures{
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
img{
    width: 200px;
    animation: popIn 1s ease;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}


.next {
    animation: popIn 1s ease;
}

.card {
    background: white;
    padding: 1.5rem 2.5rem;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    animation: popIn 1s ease;
}

h1 {
    color: #e63946;
    font-size: 2rem;
    margin-bottom: 1rem;
}
h2 {
    font-family: cursive ;
}

p {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #444;
}

.buttons {
    display: flex;
    gap: 1rem;
    justify-content:center;
}

button {
    padding: 0.8rem 1.6rem;
    font-size: 1rem;
    border: none;
    border-radius: 999px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


#yesBtn {
    background: #e63946;
    color: white;
    box-shadow: 0 8px 20px rgba(230, 57, 70, 0.4);
}

#noBtn {
    background: #ddd;
    color: #333;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.hearts {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.heart {
    position: absolute;
    font-size: 1.5rem;
    animation: floatUp 4s linear forwards;
    opacity: 0.8;
    transform: translateY(100vh);
}

@keyframes floatUp {
    0% {
        transform: translateY(100vh) scale(1);
        opacity: 1;
    }
    100% {
        transform: translateY(-10vh) scale(1.5);
        opacity: 0;
    }
}

@keyframes popIn {
    from {
        transform: scale(0.8);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}